.container {
max-width: 1500px;
width: 100%;
margin:0;
position: relative;
}
#addDeletebuttons{
    float:right;
    padding:12px;
    margin-right: 10%;      
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    
}
    
table{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
    border-collapse: collapse;
    
}
#employee th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #9aaa9a;
    color: white;
}
#addnew{
    background-color: #13f513;
    color: white;
    border-radius: 5px;
    float: right;
    
    display:inline;
    
}
#delete{
    background-color: #f70606;
    color: white;
    margin-left: 30px;
    border-radius: 5px;
    
    float: right;
    display:inline;
    
}
body h1,h3{
    display: inline;
    color: violet;
    font-size: 14;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}